*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}


.btn{
    color: white;
    background-color: grey;
    border: transparent;
    padding: 0.5em;
    border-radius: 16px;
}

/* container video */

.container .container-video{
    height: calc(100% - 100px);
    background-color: #000000;
}

.container .container-video .video{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 50px 60px 10px;
    overflow: auto;
}

.container .container-video .video .position-text{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    gap: 8px;
}

.container .container-video .video .card-video{
    width: calc(100% / 7 - 4px);
    height: calc(100% / 5 - 20px);
    margin-right: 4px;
    margin-bottom: 20px;
    position: relative;
    min-width: 220px;
    min-height: 110px;
}



.container .container-video .video .card-video .image-size{
    width: 100%;
    height: 100%;
}

.container .container-video .video .card-video .text-inner-video{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #a9a9a99e;
    padding: .2em;
}




/* /container video */

/* container player */

.container .container-player{
    display: flex;
    justify-content: space-between;

    height: 100px;
    background-color: #222222;

}


.container .container-player .video-edit-container{
    width: 100px;
    background-color: yellow;
    height: 100%;
    /* test */
}


.container .container-player .struments-container{
    width: 100px;
    background-color: yellow;
    height: 100%;
    /* test */
}


.container .container-player .button-bottom{
    width: 100px;
    background-color: yellow;
    height: 100%;
    /* test */
}
/* /container player */
